---
extends: minimal.j2
default_block: main
title: publications
description: brief list of publications
---

{% filter markdown -%}
# research

I started a PhD in Computer Science and Mathematics under the
supervision
of [Prof. Floriana
Esposito](http://lacam.di.uniba.it:8000/people/FlorianaEsposito.html)
and [Dr. Nicola Di Mauro](http://www.di.uniba.it/~ndm/) on November
2014.  
Being Machine Learning my main research area, I am part of the
  [LACAM](http://lacam.di.uniba.it/) laboratory, ML group.


## research interests
_**Probabilistic Graphical Models**_ (PGMs) and in particular _Tractable
Models_ (TPGMs) and _structure learning_ algorithms. 
_**Representation and Deep Learning**_.





{%- endfilter %}

{% set details = ['pdf', 'bibtex', 'code', 'supplemental'] %}
{% set relpaths = ['pdf', 'supplemental']%}
{% set showmore = ['bibtex', 'abstract']%}

<h2>publications</h2>
<div class='min-bottom-margin'>A brief list of what I wrote.</div>
<!--<hr/>-->
<!-- <div>a{{resource.meta.__dict__}}</div> -->
{% for res in resource.node['resources']|sort(attribute='meta.created')|reverse %}
{% if res.meta.title != resource.meta.title %}
   <div class='article'>
   <div class='article-authors'><small>{{res.meta.authors}}</small></div>
   <h3 class='article-title'>{{res.meta.title}}</h3>
   {% if res.meta.conf %}
      <div class='article-conf'>{{res.meta.conf}}</div>
   {% elif res.meta.jou %}   
      <div class='article-jou'>{{res.meta.jou}}</div>
   {% endif %}
   <p> {{res.meta.description}}
   {% set show_details = [] %}
     {% for d in details %}
       {% if d in res.meta.__dict__  %}
         {% do show_details.append(d) %}
       {% endif %}
     {% endfor %}
     {% if show_details %}
     [{% for d in show_details %}
         {% if d in relpaths %}
             <a href="{{site.config.base_url}}{{res.meta.__dict__[d]}}">{{d}}</a>
         {% elif d in showmore %}
             <a href="#" class="{{d}}">{{d}}</a>
         {% else %}
              <a href="{{res.meta.__dict__[d]}}">{{d}}</a>
         {% endif %}        
	 {% if loop.index < show_details|length %} |
	 {% endif %}
     {% endfor %}]
     {% endif %}
   </p>
   <div class="bibtex" ><pre><code>{{res.meta.__dict__['bibtex']}}</code></pre></div>
   <div class="abstract" >{{res.meta.__dict__['abstract']}}</div> 
  </div>
{% endif %}
{% endfor %}

  
